<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>
<!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>full-stack-task-manager_Server.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="trace">
        <appender-ref ref="FILE"/>
    </root>
  -->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="org.sqlite.core.NativeDB" level="INFO"/>
    <logger name="io.ktor.server.Application" level="INFO"/>
    <logger name="io.ktor.server.routing.Routing" level="INFO"/>
    <logger name="Application" level="INFO"/>
    <logger name="Exposed" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
</configuration>